@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url(http://3.bp.blogspot.com/-0GOp6-bHlAE/T59YiqNnIlI/AAAAAAAADuA/IAijbAhR394/s1600/color5.jpg);
}

button{
    background-color: white;
    float: right;
    border: white;
    color: lightgrey;
}
button:hover{
    color: gray;
}






